employee/__pycache__/views.cpython-38.pyc
employee/__pycache__/__init__.cpython-38.pyc
employee/__pycache__/admin.cpython-38.pyc
employee/__pycache__/models.cpython-38.pyc
employee/__pycache__/urls.cpython-38.pyc
employee/migrations/__pycache__/__init__.cpython-38.pyc
inventory/__pycache__/__init__.cpython-38.pyc
inventory/__pycache__/admin.cpython-38.pyc
inventory/__pycache__/models.cpython-38.pyc
inventory/__pycache__/urls.cpython-38.pyc
inventory/__pycache__/views.cpython-38.pyc
inventory/migrations/__pycache__/__init__.cpython-38.pyc
JunJun/__pycache__/settings.cpython-38.pyc
JunJun/__pycache__/urls.cpython-38.pyc
main/__pycache__/__init__.cpython-38.pyc
main/__pycache__/admin.cpython-38.pyc
main/__pycache__/models.cpython-38.pyc
main/__pycache__/urls.cpython-38.pyc
main/migrations/__pycache__/__init__.cpython-38.pyc
