body {
  background-color: #f9f9f9;
}
.navContainer {
  background-color: #dd2a3b;
}
.navLogoAlt {
  display: block;
  height: 60px;
  width: 60px;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
  border: none;
}
.imgThumbnail {
  max-height: 75px;
  padding: 1px;
  cursor: pointer;
}
.imgContainer {
  display: inline-block;
  margin: 10px 10px 0 0;
}
