{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    
    <link rel="stylesheet" type="text/css" href="{% static '/dependencies/bootstrap-4.5.2-dist/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://editor.datatables.net/extensions/Editor/css/editor.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.3/css/buttons.bootstrap4.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static '/css/home.css' %}" />
    
    <script src="{% static '/dependencies/jquery-3.5.1.min.js' %}"></script>
    
    
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="{% static '/dependencies/bootstrap-4.5.2-dist/js/bootstrap.min.js' %}"></script>
    
    <script data-require="jqueryui@*" data-semver="1.10.0" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.0/jquery-ui.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <!--Datatable Script-->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://editor.datatables.net/extensions/Editor/js/dataTables.editor.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.3/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.3/js/buttons.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.3/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.3/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.3/js/buttons.print.min.js"></script>


    

    <!--Custom Script-->
    <script src="{% static '/js/navbarScroll.js' %}"></script>
    <script src="{% static '/js/imageUpload.js' %}"></script>
    <script src="{% static '/js/search.js' %}"></script>
    <script>
      $(document).ready(function () {
        var cTable = $('#cReportTable').DataTable({
          dom: 'Blfrtip',
          "drawCallback":function(settings){
            $('.page-item.active .page-link').css({"background-color":"#dd2a3b","border-color":"#dd2a3b"});
          },
          buttons: [
            {
              extend: 'collection',
              text: 'Export',
              buttons: [
                  {
                      extend: 'copy',
                      text: 'Copy to clipboard'
                  },
                  'print',
                  {
                      extend: 'excel',
                      text: 'Export as XLSX'
                  },
                  {
                      extend: 'csv',
                      text: 'Export as CSV'
                  },
                  {
                      extend: 'pdf',
                      text: 'Export as PDF'
                  },
                  
              ]
            }
          ],
        });

        var pTable = $('#pReportTable').DataTable({
          dom: 'Blfrtip',
          "oLanguage": {
              "sSearch": "Search:" //Will appear on search form
            },
          "drawCallback":function(settings){
            $('.page-item.active .page-link').css({"background-color":"#dd2a3b","border-color":"#dd2a3b"});
          },
          buttons: [
            {
              extend: 'collection',
              text: 'Export',
              buttons: [
                  {
                      extend: 'copy',
                      text: 'Copy to clipboard'
                  },
                  'print',
                  {
                      extend: 'excel',
                      text: 'Export as XLSX'
                  },
                  {
                      extend: 'csv',
                      text: 'Export as CSV'
                  },
                  {
                      extend: 'pdf',
                      text: 'Export as PDF'
                  },
              ]
            }
          ],
        });

        $('#cStartdate').datepicker({
          changeYear: true,
          changeMonth: true,
          dateFormat: "dd/mm/yy",
          "onSelect": function(date){
            minDateFilter = new Date(date).getTime();
            cTable.draw();
          }
        }).keyup(function(){
          minDateFilter = new Date(this.value).getTime();
          cTable.draw();
        });
        $('#cEnddate').datepicker({
          changeYear: true,
          changeMonth: true,
          dateFormat: "dd/mm/yy",
          "onSelect": function(date){
            maxDateFilter = new Date(date).getTime();
            cTable.draw();
          }
        }).keyup(function(){
          maxDateFilter = new Date(this.value).getTime();
          cTable.draw();
        });

        $('#pStartdate').datepicker({
          changeYear: true,
          changeMonth: true,
          dateFormat: "dd/mm/yy",
          "onSelect": function(date){
            minDateFilter = new Date(date).getTime();
            pTable.draw();
          }
        }).keyup(function(){
          minDateFilter = new Date(this.value).getTime();
          pTable.draw();
        });
        $('#pEnddate').datepicker({
          changeYear: true,
          changeMonth: true,
          dateFormat: "dd/mm/yy",
          "onSelect": function(date){
            maxDateFilter = new Date(date).getTime();
            pTable.draw();
          }
        }).keyup(function(){
          maxDateFilter = new Date(this.value).getTime();
          pTable.draw();
        });

        minDateFilter = "";
        maxDateFilter = "";
        $.fn.dataTableExt.afnFiltering.push(
          function (oSettings, aData, iDataIndex)
          {
            if (typeof aData._date == 'undefined')
            {
              aData._date = new Date(aData[4]).getTime();
            }

            if (minDateFilter && !isNaN(minDateFilter))
            {
              if (aData._date < minDateFilter)
              {
                return false;
              }
            }

            if (maxDateFilter && !isNaN(maxDateFilter))
            {
              if (aData._date > maxDateFilter)
              {
                return false;
              }
            }
            return true;
          }
        );
        $('.buttons-collection').removeClass("btn-secondary").addClass("btn-danger");
        $('.dataTables_wrapper').addClass("mt-2 row");
        $('.dataTables_length ').addClass("col-6");
        $('.dt-buttons').addClass("position-absolute mt-2 mx-3").css("top","0");
        $('.dataTables_filter').addClass("col-6");
        $('.dataTables_info').addClass("col-8");
        $('.dataTables_paginate').addClass("col-4");
        
      });
      
    </script>
  </head>
  <body>
    <!-- Navigation bar -->
    <div
      class="d-flex flex-column flex-md-row align-items-center fixed-top px-md-4 border-bottom shadow-sm text-white navContainer"
      role="navigation"
    >
      <nav class="navbar navbar-expand-lg navbar-dark container">
        <div class="col-10 col-lg-8">
          <a class="mr-auto p-0 navbar-brand">
            <img
              class="navLogoAlt"
              src="{% static '/resources/JunJun alt.png' %}"
            />
            <img class="navLogo" src="{% static '/resources/JunJun.png' %}" />
          </a>
        </div>
        <div class="col-2 col-lg">
          <button
            class="custom-toggler navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarToggler"
            aria-controls="navbarToggler"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="custom-toggler navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="col-2 col-lg-4">
          <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link" href="/main/home"
                  >Home <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/employee/register">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/inventory/register-products"
                  >Products</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <!-- /Navigation Bar -->
    <!-- Main Content -->
    <main class="mt-5 pt-5">
      <div class="pt-5">
        <h1 class="text-center">Welcome Back!</h1>
      </div>
      <div class="container pt-5"> 
        <form id= "form1" method = "POST"  autocomplete="off" enctype = "multipart/form-data">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">ADD EMPLOYEE</button>
        </form>
      </div>
      <div class="container pt-5">
        <h3>Inventory Summary</h3>
        <div class="row">
          <div class="col-6 col-md-3 card text-center">
            <div class="card-body container-fluid">
              <div class="col-12 py-3">
                <img
                  class="home-card-icon icon1"
                  src="{% static '/resources/ic_basket.svg' %}"
                />
              </div>
              <h1>3</h1>
              <p>Items</p>
            </div>
          </div>
          <div class="col-6 col-md-3 card text-center">
            <div class="card-body container-fluid">
              <div class="col-12 py-3">
                <img
                  class="home-card-icon icon2"
                  src="{% static '/resources/ic_cart.svg' %}"
                />
              </div>
              <h1>5</h1>
              <p>Recent Purchases</p>
            </div>
          </div>
          <div class="col-6 col-md-3 card text-center">
            <div class="card-body container-fluid">
              <div class="col-12 py-3">
                <img
                  class="home-card-icon icon3"
                  src="{% static '/resources/ic_layer.svg' %}"
                />
              </div>
              <h1>25</h1>
              <p>Total Quantity</p>
            </div>
          </div>
          <div class="col-6 col-md-3 card text-center">
            <div class="card-body container-fluid">
              <div class="col-12 py-3">
                <img
                  class="home-card-icon icon4"
                  src="{% static '/resources/ic_card.svg' %}"
                />
              </div>
              <h1>₱90.0K</h1>
              <p>Total Value</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container card shadow-lg bg-white rounded px-0 mt-5">
        <div class="card-header">
          <h4 class="text-left align-self-center">Customer Report</h4>
        </div>
        <div class="col-12 mx-auto table-responsive card-body px-2 pt-0 pb-1">
          <table class="display table table-hover table-striped text-center mx-auto" id="cReportTable">
            <div class="table-header row col-md-12 mx-0 my-2 p-0">
              <div class="col-md-6 col-lg-6 col-sm-12 actions" id="actions">
              
              </div>
              <div class="input-group input-daterange col-md-6 col-lg-6 col-sm-12 pr-0">
                <input type="text" class="form-control mr-2" id="cStartdate" placeholder="Filter Date From">
                <input type="text" class="form-control" id="cEnddate" placeholder="Filter Date To">
              </div>
            </div>
            <thead>
              <tr>
                <td><b>Date Registered</b></td>
                <td><b>First Name</b></td>
                <td><b>Last Name</b></td>
                <td><b>Date of Birth</b></td>
                <td><b>Address</b></td>
                <td><b>Actions</b></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Jan 1, 1900</td>
                <td>John</td>
                <td>Doe</td>
                <td>Jan 1, 1835</td>
                <td>Cebu City</td>
                <td><a href="#" data-toggle="modal" data-target="#customerView">View</a> | <a href="#" data-toggle="modal" data-target="#customerDelete">Delete</a></td>
              </tr>
              <tr>
                <td>Jan 1, 1900</td>
                <td>John</td>
                <td>Doe</td>
                <td>Jan 1, 1835</td>
                <td>Cebu City</td>
                <td><a href="#" data-toggle="modal" data-target="#customerView">View</a> | <a href="#" data-toggle="modal" data-target="#customerDelete">Delete</a></td>
              </tr>
              <tr>
                <td>Jan 1, 1900</td>
                <td>John</td>
                <td>Doe</td>
                <td>Jan 1, 1835</td>
                <td>Cebu City</td>
                <td><a href="#" data-toggle="modal" data-target="#customerView">View</a> | <a href="#" data-toggle="modal" data-target="#customerDelete">Delete</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


      <!-- Customer Summary Modals -->
      <div class="modal fade" id="customerView" tabindex="-1" role="dialog" aria-labelledby="customerViewTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header action-modal">
              <h5 class="modal-title" id="customerViewTitle">Customer Details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body container px-4">
              <div class="row">
                <div class="col-4">
                  <p><b>Date Registered:</b></p>
                  <p><b>First Name:</b></p>
                  <p><b>Last Name:</b></p>
                  <p><b>Date of Birth:</b></p>
                  <p><b>Address:</b></p>
                </div>
                <div class="col-8">
                  <p>Jan 1, 1900</p>
                  <p>John</p>
                  <p>Doe</p>
                  <p>Jan 1, 1835</p>
                  <p>Cebu City</p>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="customerDelete" tabindex="-1" role="dialog" aria-labelledby="customerDeleteTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body container px-4">
              <h5>Are you sure you want to delete?</h5>
              <div class="row pt-4">
                <div class="col-4">
                  <p><b>Date Registered:</b></p>
                  <p><b>First Name:</b></p>
                  <p><b>Last Name:</b></p>
                  <p><b>Date of Birth:</b></p>
                  <p><b>Address:</b></p>
                </div>
                <div class="col-8">
                  <p>Jan 1, 1900</p>
                  <p>John</p>
                  <p>Doe</p>
                  <p>Jan 1, 1835</p>
                  <p>Cebu City</p>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-danger">Delete</button>
            </div>
          </div>
        </div>
      </div>
      <!-- /Customer Summary Modals -->


      <div class="container card shadow-lg bg-white rounded px-0 my-5">
        <div class="card-header">
          <div class="row">
            <h4 class="text-left col-11 align-self-center">Product Report</h4>
            <div class="col-1 p-0">
              <a href="#" data-toggle="modal" data-target="#addProducts">
                <img class="add-products-icon" src="{% static '/resources/ic_plus.svg' %}"/>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 mx-auto table-responsive card-body px-2 pt-0 pb-1">
          <table class="table table-hover table-striped text-center mx-auto" id="pReportTable">
            <div class="table-header row col-md-12 mx-0 my-2 p-0">
              <div class="col-md-6 col-lg-6 col-sm-12 actions" id="actions">
              
              </div>
              <div class="input-group input-daterange col-md-6 col-lg-6 col-sm-12 pr-0">
                <input type="text" class="form-control mr-2" id="pStartdate" placeholder="Filter Date From">
                <input type="text" class="form-control" id="pEnddate" placeholder="Filter Date To">
              </div>
            </div>
            <thead>
              <tr>
                <td><b>Date Registered</b></td>
                <td><b>Category</b></td>
                <td><b>Brand</b></td>
                <td><b>Name</b></td>
                <td><b>Price</b></td>
                <td><b>No. of Items</b></td>
                <td><b>Actions</b></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Jan 1, 1900</td>
                <td>Footwear</td>
                <td>Nike</td>
                <td>Rubber Shoes</td>
                <td>5000.00</td>
                <td>5 pcs</td>
                <td><a href="#" data-toggle="modal" data-target="#productView">View</a> | <a href="#" data-toggle="modal" data-target="#productDelete">Delete</a></td>
              </tr>
              <tr>
                <td>Jan 1, 1900</td>
                <td>Footwear</td>
                <td>Nike</td>
                <td>Rubber Shoes</td>
                <td>5000.00</td>
                <td>5 pcs</td>
                <td><a href="#" data-toggle="modal" data-target="#productView">View</a> | <a href="#" data-toggle="modal" data-target="#productDelete">Delete</a></td>
              </tr>
              <tr>
                <td>Jan 1, 1900</td>
                <td>Footwear</td>
                <td>Nike</td>
                <td>Rubber Shoes</td>
                <td>5000.00</td>
                <td>5 pcs</td>
                <td><a href="#" data-toggle="modal" data-target="#productView">View</a> | <a href="#" data-toggle="modal" data-target="#productDelete">Delete</a></td>
              </tr>
              <tr>
                <td>Jan 1, 1900</td>
                <td>Footwear</td>
                <td>Nike</td>
                <td>Rubber Shoes</td>
                <td>5000.00</td>
                <td>5 pcs</td>
                <td><a href="#" data-toggle="modal" data-target="#productView">View</a> | <a href="#" data-toggle="modal" data-target="#productDelete">Delete</a></td>
              </tr>
              <tr>
                <td>Jan 1, 1900</td>
                <td>Footwear</td>
                <td>Nike</td>
                <td>Rubber Shoes</td>
                <td>5000.00</td>
                <td>5 pcs</td>
                <td><a href="#" data-toggle="modal" data-target="#productView">View</a> | <a href="#" data-toggle="modal" data-target="#productDelete">Delete</a></td>
              </tr>
              <tr>
                <td>Jan 1, 1900</td>
                <td>Footwear</td>
                <td>Nike</td>
                <td>Rubber Shoes</td>
                <td>5000.00</td>
                <td>5 pcs</td>
                <td><a href="#" data-toggle="modal" data-target="#productView">View</a> | <a href="#" data-toggle="modal" data-target="#productDelete">Delete</a></td>
              </tr>
              <tr>
                <td>Jan 1, 1900</td>
                <td>Footwear</td>
                <td>Nike</td>
                <td>Rubber Shoes</td>
                <td>5000.00</td>
                <td>5 pcs</td>
                <td><a href="#" data-toggle="modal" data-target="#productView">View</a> | <a href="#" data-toggle="modal" data-target="#productDelete">Delete</a></td>
              </tr>
              <tr>
                <td>Jan 1, 1900</td>
                <td>Footwear</td>
                <td>Nike</td>
                <td>Rubber Shoes</td>
                <td>5000.00</td>
                <td>5 pcs</td>
                <td><a href="#" data-toggle="modal" data-target="#productView">View</a> | <a href="#" data-toggle="modal" data-target="#productDelete">Delete</a></td>
              </tr>
              <tr>
                <td>Jan 1, 1900</td>
                <td>Footwear</td>
                <td>Nike</td>
                <td>Rubber Shoes</td>
                <td>5000.00</td>
                <td>5 pcs</td>
                <td><a href="#" data-toggle="modal" data-target="#productView">View</a> | <a href="#" data-toggle="modal" data-target="#productDelete">Delete</a></td>
              </tr>
              <tr>
                <td>Jan 1, 1900</td>
                <td>Footwear</td>
                <td>Nike</td>
                <td>Rubber Shoes</td>
                <td>5000.00</td>
                <td>5 pcs</td>
                <td><a href="#" data-toggle="modal" data-target="#productView">View</a> | <a href="#" data-toggle="modal" data-target="#productDelete">Delete</a></td>
              </tr>
              <tr>
                <td>Jan 1, 1900</td>
                <td>Footwear</td>
                <td>Nike</td>
                <td>Rubber Shoes</td>
                <td>5000.00</td>
                <td>5 pcs</td>
                <td><a href="#" data-toggle="modal" data-target="#productView">View</a> | <a href="#" data-toggle="modal" data-target="#productDelete">Delete</a></td>
              </tr>
              <tr>
                <td>Jan 1, 1900</td>
                <td>Footwear</td>
                <td>Nike</td>
                <td>Rubber Shoes</td>
                <td>5000.00</td>
                <td>5 pcs</td>
                <td><a href="#" data-toggle="modal" data-target="#productView">View</a> | <a href="#" data-toggle="modal" data-target="#productDelete">Delete</a></td>
              </tr>
              <tr>
                <td>Jan 1, 1900</td>
                <td>Footwear</td>
                <td>Nike</td>
                <td>Rubber Shoes</td>
                <td>5000.00</td>
                <td>5 pcs</td>
                <td><a href="#" data-toggle="modal" data-target="#productView">View</a> | <a href="#" data-toggle="modal" data-target="#productDelete">Delete</a></td>
              </tr>
              <tr>
                <td>Jan 1, 1900</td>
                <td>Footwear</td>
                <td>Nike</td>
                <td>Rubber Shoes</td>
                <td>5000.00</td>
                <td>5 pcs</td>
                <td><a href="#" data-toggle="modal" data-target="#productView">View</a> | <a href="#" data-toggle="modal" data-target="#productDelete">Delete</a></td>
              </tr>
              <tr>
                <td>Jan 1, 1900</td>
                <td>Footwear</td>
                <td>Nike</td>
                <td>Rubber Shoes</td>
                <td>5000.00</td>
                <td>5 pcs</td>
                <td><a href="#" data-toggle="modal" data-target="#productView">View</a> | <a href="#" data-toggle="modal" data-target="#productDelete">Delete</a></td>
              </tr>
              <tr>
                <td>Jan 1, 1900</td>
                <td>Footwear</td>
                <td>Nike</td>
                <td>Rubber Shoes</td>
                <td>5000.00</td>
                <td>5 pcs</td>
                <td><a href="#" data-toggle="modal" data-target="#productView">View</a> | <a href="#" data-toggle="modal" data-target="#productDelete">Delete</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Product Summary Modals -->
      <div
        class="modal fade"
        id="addProducts"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLongTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Add a Product</h4>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form>
              <div class="modal-body">
                <div class="form-group">
                  <label for="category">Choose a category:</label>
                  <select class="form-control" id="category" name="category">
                    <option>Category 1</option>
                    <option>Category 2</option>
                    <option>Category 3</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="productName">Product Name:</label>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Name"
                    id="productName"
                  />
                </div>
                <div class="form-group">
                  <label for="brand">Brand:</label>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Brand"
                    id="brand"
                  />
                </div>
                <div class="form-group">
                  <label for="color">Color:</label>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Color"
                    id="color"
                  />
                </div>
                <div class="form-group">
                  <label for="size">Size:</label>
                  <input
                    class="form-control"
                    type="number"
                    placeholder="Size"
                    id="size"
                  />
                </div>
                <div class="form-group">
                  <label for="price">Price:</label>
                  <input
                    class="form-control"
                    type="number"
                    placeholder="Price"
                    id="price"
                  />
                </div>
                <div class="form-group">
                  <label for="qty">No. of Stocks:</label>
                  <input
                    class="form-control"
                    type="number"
                    placeholder="Number of Stocks"
                    id="qty"
                  />
                </div>
                <div class="form-group">
                  <label for="image">Select image/s (Max. 3 images):</label>
                  <input
                    class="form-control-file"
                    type="file"
                    id="imageInput"
                    name="filename"
                    multiple
                  />
                  <div
                    class="imgValidation"
                    style="display: none; color: #dd2a3b"
                  >
                    Only max of 3 images allowed.
                  </div>
                  <img id="imagePreview" src="#" alt="" />
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Close
                </button>
                <button type="submit" class="btn btn-danger">
                  Add New Product
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!--Actions Modals-->
      <div class="modal fade" id="productView" tabindex="-1" role="dialog" aria-labelledby="productViewTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header action-modal">
              <h5 class="modal-title" id="productViewTitle">Product Details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body container px-4">
              <div class="row">
                <div class="col-4">
                  <p><b>Date Registered:</b></p>
                  <p><b>Category:</b></p>
                  <p><b>Brand:</b></p>
                  <p><b>Name:</b></p>
                  <p><b>Price:</b></p>
                  <p><b>No. of Items</b></p>
                </div>
                <div class="col-8">
                  <p>Jan 1, 1900</p>
                  <p>Footwear</p>
                  <p>Nike</p>
                  <p>Rubber Shoes</p>
                  <p>5000.00</p>
                  <p>5 pcs</p>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="productDelete" tabindex="-1" role="dialog" aria-labelledby="productDeleteTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body container px-4">
              <h5>Are you sure you want to delete?</h5>
              <div class="row pt-4">
                <div class="col-4">
                  <p><b>Date Registered:</b></p>
                  <p><b>Category:</b></p>
                  <p><b>Brand:</b></p>
                  <p><b>Name:</b></p>
                  <p><b>Price:</b></p>
                  <p><b>No. of Items</b></p>
                </div>
                <div class="col-8">
                  <p>Jan 1, 1900</p>
                  <p>Footwear</p>
                  <p>Nike</p>
                  <p>Rubber Shoes</p>
                  <p>5000.00</p>
                  <p>5 pcs</p>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-danger">Delete</button>
            </div>
          </div>
        </div>
      </div>
      <!-- /Product Summary Modals -->
    </main>
    <!-- /Main Content -->
  </body>
</html>
